body {
    margin: 0;
    background: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
td,
th,
label {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

label {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 2em;
}

.sub-label {
    display: block;
    margin: 0;
    font-size: 0.5em;
    font-weight: 600;
    color: gray;
}

.sidebar {
    padding: 10px 5px;
}

.sidebar-label {
    margin-left: 10px;
}
